{{- if and .Values.components.otel.enabled (not .Values.openshift) }}
apiVersion: telemetry.istio.io/v1
kind: Telemetry
metadata:
  name: mesh-tracing
  namespace: {{ .Values.istio.namespace | default "istio-system" }}
  labels:
    {{- include "kagenti.labels" . | nindent 4 }}
spec:
  tracing:
  - providers:
    - name: otel-tracing
    randomSamplingPercentage: 100
{{- end }}
